.album {
  display: flex;
  flex-direction: column;
  background-color: #3b3535;
  width: 0px;
  height: 100%;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
}
.open {
  width: 700px;
}
.album-title {
  display: flex;
  justify-content: center;
}

.album-nav {
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.album-items {
  display: flex;
}
