.album {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #fde000 1%, #000000 1%);
  width: 0px;
  height: 100%;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  img {
    width: 300px;
    height: 200px;
  }
  &.open {
    width: 700px;
  }
}
.album-title {
  display: flex;
  justify-content: center;
}

.album-nav {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  transition: background-color 0.5s ease-in-out;
  & button.btn-nav {
    border: none;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    &:hover {
      background-color: #2b2a2a;
      border-radius: none;
    }
    &:focus,
    &:focus-visible {
      outline: none;
    }
    &.active-section {
      background-color: #2b2a2a;
      border: 1px solid #fff;
    }
  }
}

.album-items {
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
  max-height: 500px;
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(4, 100px);
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #8888881e; /* Color de fondo del track */
  }
  &::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb */
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb al pasar el mouse */
  }
}

.block-sheet {
  position: relative;
  border: 2px dashed #fff;
  background-color: #464343;
  width: 100px;
  height: 150px;
  border-radius: 0.25rem;
  & .sheet-id {
    font-weight: bold;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 30px;
    height: 30px;
    background-color: #00000076;
    color: #fff;
    padding: 0.25rem;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 1650px) {
  .album-items {
    grid-template-columns: repeat(3, 100px);
  }
}
@media only screen and (max-width: 1000px) {
  .album-items {
    grid-template-columns: repeat(2, 100px);
  }
}
