header {
  box-sizing: border-box;
  background-color: #c0c0c01a;
  backdrop-filter: blur(3px);
  padding: 0 8rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  display: flex;
  & .appbar-buttoms {
    display: flex;
    gap: 1rem;
  }
  & .appbar-tittle {
    display: flex;
    margin: 0;
  }
}