.modal-windown {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  & .modal-view {
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff77;
    backdrop-filter: blur(5px);
    border-radius: 0.25rem 0.25rem 0 0;
    & .container-sheets {
      overflow-x: auto;
      gap: 2rem;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 300px;
      &::-webkit-scrollbar {
        height: 8px;
      }
      &::-webkit-scrollbar-track {
        background: #8888881e; /* Color de fondo del track */
      }
      &::-webkit-scrollbar-thumb {
        background: #888; /* Color del thumb */
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color del thumb al pasar el mouse */
      }
    }
  }
  & .container-button {
    display: flex;
    justify-content: end;
    width: 90%;
  }
}
